* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  color: black;
  margin: 0;
}

.game-container {
  display: flex;
  flex-wrap: wrap;
}

.game {
  background-color: lightgray;
  margin: 1rem;
  width: 200px;
}

.game img {
  max-width: 100%;
}

.game-info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.game-info h5 {
  margin: 0;
}