* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: whitesmoke;
  color: black;
  margin: 0;
}

.root {
  display: flex;
  flex-direction: column;
}

.commentBox {
  padding: 1.5% 0;
}

.game-container {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

header {
  background-color: #1A3668;
  display: flex;
  padding: 1rem;
  justify-content: center;
}

.pagination {
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: 550;
  /* background-color: aliceblue; */
  border-radius: 20px;
}

.pagination li {
  /* color: #284575; */
  color: white;
  margin: 2px 5px;
  padding: 6px;
}

.pagination-prev, .pagination-next {
  font-weight: bold;
  color: #ADC0D8;
}

.search {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50px;
  color: black;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  outline: none;
}

.game {
  background-color: lightgray;
  border-radius: 3px;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin: 1rem;
  width: 200px;
}

.game img {
  max-width: 100%;
}

.game-info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.game-info h5 {
  margin: 0;
}

.game-info span {
  font-weight: bold;
  margin: 1px 0px;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 8rem;
  background-color: #1A3668;
}

.autores {
  color: aliceblue;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.autores span {
  letter-spacing: 1px;
  margin: 0 1%;
}